.editor{
    composes: flexChild from '../_styles/common.css';
    box-sizing: border-box;
    margin: 0;
    display: flex;

    input {
        border: 0;
        width: 80%;
        font-size: responsive 30px 60px;
        margin-left: 20px;

        &:focus{
            outline: none;
        }
    }
}